### 功能描述：根据指定列分组后取各组出现的次数并添加到原始的DataFrame中

In [22]:
import pandas as pd

# 基础数据
df = pd.DataFrame({'w_level': ['warning', 'warning', 'disaster', 'disaster', 'warning', 'warning', 'disaster', 'disaster', 'disaster', 'disaster', 'warning'],
                   'role': ['miner', 'miner', 'seal', 'seal', 'miner', 'snark', 'snark', 'snark', 'miner', 'snark', 'miner'],
                   'w_trigger': ['ssh', 'ssh', 'agent', 'agent', 'ping', 'ping', 'ssh', 'ssh', 'ssh', 'ssh', 'icmp']})

In [23]:
df

     w_level   role w_trigger
0    warning  miner       ssh
1    warning  miner       ssh
2   disaster   seal     agent
3   disaster   seal     agent
4    warning  miner      ping
5    warning  snark      ping
6   disaster  snark       ssh
7   disaster  snark       ssh
8   disaster  miner       ssh
9   disaster  snark       ssh
10   warning  miner      icmp

In [24]:
# 指定分组后添加 各个分组 出现的次数
df2 = df.groupby(['w_level','role', 'w_trigger']).w_trigger.agg('count').to_frame('count').reset_index()

In [25]:
df2

    w_level   role w_trigger  count
0  disaster  miner       ssh      1
1  disaster   seal     agent      2
2  disaster  snark       ssh      3
3   warning  miner      icmp      1
4   warning  miner      ping      1
5   warning  miner       ssh      2
6   warning  snark      ping      1

In [26]:
# 取各个分组数据中的前 x 位, 注意这里如果有出现次数相同的，会 w_level、role 的 顺序取，比如 warning中的miner的ping和icmp
df2.sort_values(['w_level', 'role', 'w_trigger', 'count'], ascending=False).groupby(['w_level', 'role']).head(2)

    w_level   role w_trigger  count
6   warning  snark      ping      1
5   warning  miner       ssh      2
4   warning  miner      ping      1
2  disaster  snark       ssh      3
1  disaster   seal     agent      2
0  disaster  miner       ssh      1