### 功能描述：根据指定列分组后取各组出现的次数并添加到原始的DataFrame中

In [22]:
import pandas as pd

# 基础数据
df = pd.DataFrame({'w_level': ['warning', 'warning', 'disaster', 'disaster', 'warning', 'warning', 'disaster', 'disaster', 'disaster', 'disaster', 'warning'],
                   'role': ['miner', 'miner', 'seal', 'seal', 'miner', 'snark', 'snark', 'snark', 'miner', 'snark', 'miner'],
                   'w_trigger': ['ssh', 'ssh', 'agent', 'agent', 'ping', 'ping', 'ssh', 'ssh', 'ssh', 'ssh', 'icmp']})

In [23]:
df

     w_level   role w_trigger
0    warning  miner       ssh
1    warning  miner       ssh
2   disaster   seal     agent
3   disaster   seal     agent
4    warning  miner      ping
5    warning  snark      ping
6   disaster  snark       ssh
7   disaster  snark       ssh
8   disaster  miner       ssh
9   disaster  snark       ssh
10   warning  miner      icmp

In [24]:
# 指定分组后添加 各个分组 出现的次数
df2 = df.groupby(['w_level','role', 'w_trigger']).w_trigger.agg('count').to_frame('count').reset_index()

In [25]:
df2

    w_level   role w_trigger  count
0  disaster  miner       ssh      1
1  disaster   seal     agent      2
2  disaster  snark       ssh      3
3   warning  miner      icmp      1
4   warning  miner      ping      1
5   warning  miner       ssh      2
6   warning  snark      ping      1

In [26]:
# 取各个分组数据中的前 x 位, 注意这里如果有出现次数相同的，会 w_level、role 的 顺序取，比如 warning中的miner的ping和icmp
df2.sort_values(['w_level', 'role', 'w_trigger', 'count'], ascending=False).groupby(['w_level', 'role']).head(2)

    w_level   role w_trigger  count
6   warning  snark      ping      1
5   warning  miner       ssh      2
4   warning  miner      ping      1
2  disaster  snark       ssh      3
1  disaster   seal     agent      2
0  disaster  miner       ssh      1

In [27]:
df3

NameError: name 'df3' is not defined

In [166]:
df3.columns

Index(['role', 'w_trigger', 'count'], dtype='object')

In [173]:
df3.iloc[:, 0].unique()

array(['miner', 'seal', 'snark'], dtype=object)

In [174]:
data = {}

In [178]:
for role in df3.loc[:, 'role'].unique():
    if role not in data:
        data[role] = {}

In [179]:
data

{'miner': {}, 'seal': {}, 'snark': {}}

In [183]:
df3.loc[:, ['w_trigger', 'count']]

'{"w_trigger":{"0":"ping","1":"ssh","2":"agent","3":"ping","4":"ssh"},"count":{"0":1,"1":3,"2":2,"3":1,"4":3}}'

In [194]:
for i in df3.itertuples():
    role = i[1]
    w_trigger = i[2]
    count = i[3]
    if role not in data:
        data[role] = {}
        
    data[role].update({
        w_trigger: count
    })

In [195]:
data

{'miner': {'ping': 1, 'ssh': 3},
 'seal': {'agent': 2},
 'snark': {'ping': 1, 'ssh': 3}}

In [198]:
df3 = df.groupby(['role']).role.agg('count').to_frame('count').reset_index()

In [199]:
df3

    role  count
0  miner      4
1   seal      2
2  snark      4

In [99]:
data = {}
for info in df3.itertuples():
    role = info[2]
    count = info[3]
    if level not in data:
        data[level] = {}

    data[level].update({
        role: count
    })

In [100]:
df4

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0

In [101]:
df4['Animal'] = 'all'

In [102]:
df4

  Animal  Max Speed
0    all      380.0
1    all      370.0
2    all       24.0
3    all       26.0

In [207]:
a_df = pd.concat([df, df4], ignore_index=True)

In [208]:
a_df

     w_level   role w_trigger Animal  Max Speed
0    warning  miner       ssh    NaN        NaN
1    warning  miner       ssh    NaN        NaN
2   disaster   seal     agent    NaN        NaN
3   disaster   seal     agent    NaN        NaN
4    warning  miner      ping    NaN        NaN
5    warning  snark      ping    NaN        NaN
6   disaster  snark       ssh    NaN        NaN
7   disaster  snark       ssh    NaN        NaN
8   disaster  miner       ssh    NaN        NaN
9   disaster  snark       ssh    NaN        NaN
10       NaN    NaN       NaN    all      380.0
11       NaN    NaN       NaN    all      370.0
12       NaN    NaN       NaN    all       24.0
13       NaN    NaN       NaN    all       26.0

In [118]:
b_df = a_df.sort_values(['Animal', 'Max Speed'], ascending=False)

In [119]:
b_df

   Animal  Max Speed
4     all      380.0
5     all      370.0
7     all       26.0
6     all       24.0
3  Parrot       26.0
2  Parrot       24.0
0  Falcon      380.0
1  Falcon      370.0

In [120]:
b = b_df.groupby(['Animal']).head(1)

In [121]:
b

   Animal  Max Speed
4     all      380.0
3  Parrot       26.0
0  Falcon      380.0

In [122]:
b.to_json()

'{"Animal":{"4":"all","3":"Parrot","0":"Falcon"},"Max Speed":{"4":380.0,"3":26.0,"0":380.0}}'