### 功能描述：根据指定列分组后取各组出现的次数并添加到原始的DataFrame中

In [8]:
import pandas as pd

# 基础数据
df = pd.DataFrame({'w_level': ['warning', 'warning', 'disaster', 'disaster', 'warning', 'warning', 'disaster', 'disaster', 'disaster', 'disaster', 'warning'],
                   'role': ['miner', 'miner', 'seal', 'seal', 'miner', 'snark', 'snark', 'snark', 'miner', 'snark', 'miner'],
                   'w_trigger': ['ssh', 'ssh', 'agent', 'agent', 'ping', 'ping', 'ssh', 'ssh', 'ssh', 'ssh', 'icmp']})

In [9]:
df

     w_level   role w_trigger
0    warning  miner       ssh
1    warning  miner       ssh
2   disaster   seal     agent
3   disaster   seal     agent
4    warning  miner      ping
5    warning  snark      ping
6   disaster  snark       ssh
7   disaster  snark       ssh
8   disaster  miner       ssh
9   disaster  snark       ssh
10   warning  miner      icmp

In [10]:
# 指定分组后添加 各个分组 出现的次数
df2 = df.groupby(['w_level','role', 'w_trigger']).w_trigger.agg('count').to_frame('count').reset_index()

In [11]:
df2

    w_level   role w_trigger  count
0  disaster  miner       ssh      1
1  disaster   seal     agent      2
2  disaster  snark       ssh      3
3   warning  miner      icmp      1
4   warning  miner      ping      1
5   warning  miner       ssh      2
6   warning  snark      ping      1

In [12]:
# 取各个分组数据中的前 x 位, 注意这里如果有出现次数相同的，会 w_level、role 的 顺序取，比如 warning中的miner的ping和icmp
df2.sort_values(['w_level', 'role', 'w_trigger', 'count'], ascending=False).groupby(['w_level', 'role']).head(2)

    w_level   role w_trigger  count
6   warning  snark      ping      1
5   warning  miner       ssh      2
4   warning  miner      ping      1
2  disaster  snark       ssh      3
1  disaster   seal     agent      2
0  disaster  miner       ssh      1

In [21]:
df3 = pd.DataFrame({'role': ['lotus', 'miner', 'seal', 'storage', 'wdpost', 'snark', 'snarkctl', 'wpminer', 'lotus', 'miner', 'seal', 'storage', 'wdpost', 'snark', 'snarkctl', 'wpminer'],
                   'w_level': ['warning', 'warning', 'warning', 'warning', 'warning', 'warning', 'warning', 'warning', 'disaster', 'disaster', 'disaster', 'disaster', 'disaster', 'disaster', 'disaster', 'disaster']})

In [22]:
df3

        role   w_level
0      lotus   warning
1      miner   warning
2       seal   warning
3    storage   warning
4     wdpost   warning
5      snark   warning
6   snarkctl   warning
7    wpminer   warning
8      lotus  disaster
9      miner  disaster
10      seal  disaster
11   storage  disaster
12    wdpost  disaster
13     snark  disaster
14  snarkctl  disaster
15   wpminer  disaster

In [27]:
df4 = df3.merge(df2, how='left', on=['role', 'w_level'])

In [28]:
df4.fillna(0)

        role   w_level w_trigger  count
0      lotus   warning         0    0.0
1      miner   warning      icmp    1.0
2      miner   warning      ping    1.0
3      miner   warning       ssh    2.0
4       seal   warning         0    0.0
5    storage   warning         0    0.0
6     wdpost   warning         0    0.0
7      snark   warning      ping    1.0
8   snarkctl   warning         0    0.0
9    wpminer   warning         0    0.0
10     lotus  disaster         0    0.0
11     miner  disaster       ssh    1.0
12      seal  disaster     agent    2.0
13   storage  disaster         0    0.0
14    wdpost  disaster         0    0.0
15     snark  disaster       ssh    3.0
16  snarkctl  disaster         0    0.0
17   wpminer  disaster         0    0.0